html,
body {
  height: 100%;
}
#root {
  height: 100%;
}
.App {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.App > div {
  flex: 1;
  margin-bottom: 40px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 0;
}

.show-more {
  flex: 1;
  position: fixed;
  bottom: 0;
  height: 40px;
  width: 100%;
  cursor: pointer;
  background: #cb4e4e;
  color: #fff;
  box-shadow: 0 6px #ab3c3c;
  padding: 0;
  border: 0;
  font-size: 25px;
  font-weight: bold;
}
